@charset "UTF-8";

body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(4, 255, 8);
    background-color: lightcoral;
}
h2 {
    color: blue;
}
p {
    text-align: justify;
}
