@charset "UTF-8";

BoDY {
    background-color: rgb(186, 212, 147);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: green;
}

#principal {
    text-align: center;
    background-color: green;
    color: white;

}
/* em HTML é id e em CSS é # ( só um elemento )
   em HTML é class e em css É . ( varios elementos ) */

h2 {
    color: rgb(36, 46, 21);
}
.basico {
    color: green;
}

.intermediario{
    color: red;
}
    
.avancado{
     
    color: yellow;
}